.p{
	height: 400px;
	width: 300px;
	background-color: goldenrod;
    float: left;
}
.q{
	height: 400px;
	width: 300px;
	background-color: greenyellow;
	position: relative;
 float: left;
 top: 20px;
}
.w{
	height: 400px;
	width: 300px;
	background-color: yellow;
 float: left;
}
.t{
	height: 400px;
	width: 300px;
	background-color: blueviolet;
float: left;
}